body {background: fixed; background-size: cover; background-image: url('WhatsApp\ Image\ 2026-08-31\ at\ 9.31.42\ AM.jpeg'); font-family: Arial, sans-serif; color: #333;}
footer {background-color: #0d8bdf; padding: 20px; text-align: left; font-size: 14px; color: white;}
footer {font-family: Arial, sans-serif; color: #333;}
footer {font-size: 16px; line-height: 1.5; margin: 0; padding: 0;
line-spacing: 1.5; text-align: left; background-color: #0d8bdf; color: white; padding: 20px; font-size: 14px; margin-top: 20px;}
}
h1 {font-size: 36px; margin-bottom: 20px; text-align: left; color: #0d8bdf; font-weight: bold;}
h2 {font-size: 28px; margin-bottom: 15px; color: #0d8bdf; font-weight: bold; text-align: left; line-height: 1.2;}
line-height: 1.2;}
p {font-size: 16px; line-height: 1.5; margin-bottom: 20px; text-align: left; color: #333;
font-weight: bold;}
ul { font-size: 16px; line-height: 1.5; margin-bottom: 20px; ; color: #333;
    text-weight: bold; text-decoration: underline; padding-left: 20px;}
    h4 {font-size: 20px; margin-bottom: 10px; color: #0d8bdf; font-weight: bold; text-align: left;
line-height: 1.2;}